body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 246, 229);
}

header {
    background: #8eac4f;
    color: #22331F;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #22331F;
    text-decoration: none;
}

main {
    padding: 20px;
}


footer {
    background: #fe7979;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.page1-headline{
    
    justify-content: center;
    text-align: center;
    color: #22331F;
    display: flex;
}
.page1-headline img{
    width: 100px;
    height: 130px;
}
button{
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #8eac4f;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}
button:hover{
    
}
