body {
    font-family: poppins;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 246, 229);
}

header {
    background: #8eac4f;
    color: #22331F;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #22331F;
    text-decoration: none;
}
nav ul li a:hover{
    color: #fff;
}


main {
    padding: 20px;
}
img{
    width: 200px;
    height: 350px;
}

footer {
    background: #fe7979;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.page1-headline{
    font-weight: 600;
    font-style: normal;
    justify-content: center;
    text-align: center;
    color: #22331F;
    display: flex;
}
.page1-headline img{
    width: 100px;
    height: 130px;
}

button{
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #01b3ff;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 35px;
}
button:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    opacity: 0.8;
}
.headlinetext{
    font-size: 40px;
    text-align: left;
    padding: 35px;
    font-weight: 200;
    font-style: normal;
}
.line1{
    
}
.subline{
    font-size: 25px;
}
.textpart{
    color: #22331F;
    font-weight: bolder;
    padding-left: 40px;
    margin: 20px;
}
.textpart{
    color: #22331F;

  