body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FADBB8;
}

header {
    background: #B3B26F;
    color: #22331F;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #22331F;
    text-decoration: none;
}

main {
    padding: 20px;
}


footer {
    background: #fe7979;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
.page1-headline{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #22331F;
}
